# file used to configure ansible behavior
[defaults]
# set the default inventory file
inventory = ./inventory/hosts
Remote_user = vagrant
host_key_checking = False
identity = /home/chepkemoi/Ansible/.vagrant/machines/default/virtualbox/private_key
port = 22

